@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background font-Poppins text-white;
  }

  h2 {
    @apply font-Inter text-xl tracking-tight md:text-3xl;
  }
}

@layer utilities {
  .h-scroll {
    @apply [&::-webkit-scrollbar-thumb:horizontal]:rounded-[10px] [&::-webkit-scrollbar-thumb:horizontal]:bg-accent [&::-webkit-scrollbar]:h-[2px];
  }
}

.CircularProgressbar-text {
  font-weight: bold;
  alignment-baseline: central;
}

.slick-list {
  height: 100%;
}

.slider:hover ~ button svg {
  fill: white;
}

.width-transition {
  transition-property: width;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
