@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background font-Poppins text-white;
  }

  h2 {
    @apply font-Inter text-xl tracking-tight md:text-3xl;
  }
}

@layer components {
  .CircularProgressbar-text {
    font-weight: bold;
    alignment-baseline: central;
  }

  .cast-item {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
  }
}

@layer utilities {
  .h-scroll {
    overflow-x: scroll;
  }

  .h-scroll::-webkit-scrollbar {
    height: 8px;
  }

  .h-scroll::-webkit-scrollbar-thumb:horizontal {
    background-color: #887190; /* accent color */
    border-radius: 10px;
  }
}
